header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  position: fixed;  /* Torna o menu fixo no topo */
  top: 0;
  width: 100%;
  z-index: 1000;  /* Garante que o menu fique acima dos outros elementos */
}

body {
  margin: 0;
  padding-top: 70px;  /* Espaço para o menu fixo não cobrir o conteúdo */
  background-color: #f5f5f5;
  font-family: Arial, sans-serif;
}

/* Menu */

nav {
  display: flex;
  align-items: center;
  justify-content: center; /* Centraliza os itens do menu */
  position: relative; /* Para posicionar a logo à esquerda */
}

.logo {
 
  height: 90px; /* Ajuste conforme necessário */
  margin-right: 20px;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 20px; /* Espaço entre os itens do menu */
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
  transition: background-color 0.3s;
}

nav ul li a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}


/* Banner Carrossel */

.carrossel-container {
  position: relative;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  margin-top: 70px; /* Para garantir que o carrossel não fique abaixo do menu fixo */
}

.carrossel {
  display: flex;
  transition: transform 0.5s ease;
}

.carrossel img {
  width: 100%;
  border-radius: 8px;
}

button {
  position: absolute;
  top: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 24px;
  z-index: 10;
  transform: translateY(-50%);
}

button.prev {
  left: 10px;
}

button.next {
  right: 10px;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Responsividade para telas menores */
@media (max-width: 1920px) {
  .carrossel img {
    height: auto;  /* Para ajustar a altura automaticamente conforme a largura da tela */
  }
}
